.hero-main{
    background: url('../../assets//images//banner-bg.jpg') no-repeat top left/cover;
    background-color:  var(--color-dark);
    color: var(--color-light);
    border-radius: var(--border-radius-primary);
    padding: var(--padding-primary);
}
.hero-text{
    max-width: 500px;
    margin-inline-start: 70px;
}
.hero-title {
    text-transform: uppercase;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.hero-title em {
    font-style: normal;
    color: var(--color-primary);
}
.hero-subtitle{
    font-size: 20px;
    font-weight: var(--font-weight-normal);
    margin-bottom: calc(var(--margin-primary) / 2);
}

